<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<h2>Product List</h2>
<a href="/create">Create new Product</a>
<h2 th:text="${message}"></h2>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Description</td>
        <td>Producer</td>
        <td>Action</td>
    </tr>
    <tr th:each="blog: ${blogs}">
        <td th:text="${blog.name}"></td>
        <td th:text="${blog.price}"></td>
        <td th:text="${blog.description}"></td>
        <td th:text="${blog.producer}"></td>
        <td>
            <a th:href="@{'detail/'+ ${blog.id}}">Detail |</a>
            <!--            <button><a th:href="@{detail}">Detail |</a></button>-->
            <a th:href="@{'delete/'+ ${blog.id}}">Delete |</a>
            <a th:href="@{'edit/'+ ${blog.id}}">Edit</a>
        </td>
    </tr>

</table>
</body>
</html>