<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Blog</title>
</head>
<body>
<h2>Create Blog</h2>
<form action="/create" th:object="${giaoDich}" method="post">
    <table>
        <tr>
            <td>Mã GD</td>
            <td><input th:field="*{ma_giao_dich}"></td>
        </tr>
        <tr>
            <td>Tên khách hàng</td>
            <td class="container">
                <select th:field="*{khachHang}">
                    <option th:each="khachHang: ${khachHangs}" th:value="${khachHang.id}"
                            th:text="${khachHang.name}"></option>
                </select>
        </tr>
        <tr>
            <td>Ngày GD</td>
            <td><input th:field="*{date}" type="date"></td>
        </tr>
        <tr>
            <td>Loại dịch vụ</td>
            <td>
                <input th:field="*{category}" type="radio" value="Đất">Đất
                <input th:field="*{category}" type="radio" value="Nhà và đất">Nhà và đất
            </td>
        </tr>
        <tr>
            <td>Gía</td>
            <td><input th:field="*{gia}"></td>
        </tr>
        <tr>
            <td>Diện tích</td>
            <td><input th:field="*{dien_tich}"></td>
        </tr>

        <tr>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>