<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Blog</title>
</head>
<body>
<div th:object="${giaoDich}">
    <table>
        <tr>
            <td>Mã giao dịch: </td>
            <td>
                <h2 th:text="${giaoDich.ma_giao_dich}"></h2>
            </td>
        </tr>
        <tr>
            <td>Tên khách hàng: </td>
            <td>
                <p th:text="${giaoDich.khachHang.name}"></p>
            </td>
        </tr>
        <tr>
            <td>
                <button><a href="/">Back to list</a></button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>