<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="bootstrap-4.6.1-dist/bootstrap-4.6.1-dist/css/bootstrap.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <form action="/delete" method="post" th:object="${giao_dich}">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table class="table table-striped">
            <tr>
                <td>Mã giao dịch:</td>
                <td>
                    <p th:text="${giao_dich.ma_giao_dich}"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Delete</button>
                </td>
                <td>
                    <button><a href="/">Cancel</a></button>

                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>