<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>
<form action="/edit" method="post" th:object="${blog}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input th:field="*{name}" th:text="${name}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input th:field="*{content}" th:text="${content}"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select th:field="*{category}" >
                    <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Update">
            </td>
        </tr>
    </table>
</form>
</body>
</html>