<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${user}" th:action="@{/validateUser}" method="post">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input th:field="*{firstName}" name="firstName"></td>
<!--            <td th:if="${#field.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>-->
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input th:field="*{lastName}" name="lastName"></td>
<!--            <td th:if="${#field.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</td>-->
        </tr>
<!--        <tr>-->
<!--            <td>-->
<!--                <button type="submit">Submit</button>-->
<!--            </td>-->
<!--        </tr>-->
<tr>
    <td>abc</td>
    <td>abac</td>
</tr>
<tr>
    <td>ab</td>
</tr>
        <tr>
            <td>
                <button>sub</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>