<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--    <link rel="stylesheet" href="bootstrap-4.6.1-dist/bootstrap-4.6.1-dist/css/bootstrap.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div>


    <div class="container">
        <h2><a href="/">Product List</a></h2>

        <!--        <button class="btn btn-info add " ><a href="/create">Add</a></button>-->
        <div class="col-lg-6 table-title">
            <a href="/create" class="btn btn-success add" data-bs-toggle="modal"><i class="material-icons">&#xE147;</i>
                <span>Add New</span></a>
        </div>

        <form method="get" th:action="@{/search}">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <select name="search_by" class="custom-select">
                        <option th:value="name">Name</option>
                        <option th:value="price">Price</option>
<!--                        <option th:value="manufacturer">Manufacturer</option>-->
                        <option th:value="category">Category</option>
                        <option th:value="all">All</option>
                    </select>

                </div>
                <div class="col-auto my-1">
                    <input type="text" name="search_key" th:value="${search_key}" class="form-control">

                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Search</button>

                </div>
            </div>
        </form>
        <h2 th:text="${message}"></h2>

        <table class="table table-striped">
            <tr>
                <td>#</td>
                <td>Mã giao dịch</td>
                <td>Tên khách hàng</td>
                <td>Ngày giao dịch</td>
                <td>Loại dịch vụ</td>
                <td>Đơn giá(VND/m2)</td>
                <td>Diện tích(m2)</td>
                <td>Action</td>
            </tr>
            <tr th:each="product,status: ${products}">
                <td th:text="${status.count + products.getNumber() * products.getSize()}"></td>
                <td th:text="${product.ma_giao_dich}"></td>
                <td th:text="${product.khachhang.name}"></td>
                <td th:text="${#dates.format(product.expdate, 'dd-MM-yyyy')}"></td>
                <td th:text="${product.category.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.dien_tich}"></td>
                <td>
                    <a th:href="@{'delete/'+ ${product.id}}">Delete |</a>
                    <a th:href="@{'edit/'+ ${product.id}}">Edit</a>
                </td>
            </tr>
            <tr>
                <div class="d-flex justify-content-between">
                    <div class="pt-2">Showing [[${products.getNumberOfElements()}]] out of
                        [[${products.getTotalElements()}]]
                    </div>
                    <div>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" th:classappend="(${!products.hasPrevious()} ? 'disabled')">
                                    <a class="page-link"
                                       th:href="@{''(page=${products.getNumber()},search_by=${search_by},search_key= ${search_key})}">Previous</a>
                                </li>
                                <li class="page-item" th:each="i : ${#numbers.sequence(1, products.getTotalPages())}"
                                    th:classappend="${i == products.getNumber() + 1} ? 'active' : ''">
                                    <a class="page-link"
                                       th:href="@{''(page=${i},search_by=${search_by},search_key= ${search_key})}">[[${i}]]</a>

                                </li>
                                <li class="page-item" th:classappend="(${!products.hasNext()} ? 'disabled')">
                                    <a class="page-link"
                                       th:href="@{''(page=${products.getNumber + 2},search_by=${search_by},search_key= ${search_key})}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </tr>
        </table>
    </div>

</div>
</div>
</div>
</body>
</html>