<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/723999/723999/DSC_0729.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722779/722779/63984540_XL.jpg?auto=format,
        compress&fit=crop&crop=entropy&w=1492&q=75" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/724012/724012/Ocean_Studio_Suite_-_Overall.JPG?auto=format,compress&fit=crop&crop=entropy&w=1492&q=75" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722806/722806/63984552_XL.jpg?auto=format,
        compress&fit=crop&crop=entropy&w=1492&q=75" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722776/722776/160407105.jpg?
        auto=format,compress&fit=crop&crop=entropy&w=1492&q=75" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/724017/724017/Bedroom.jpg?auto=format,
        compress&fit=crop&crop=entropy&w=1492&q=75" class="d-block w-100" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
